<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallary</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
      <a href="/read"> <b> Read</b></a>
    <h1 style = "color: aliceblue;">create user</h1>
    <hr>
    <form action="/create" method="post">
    <input type ="text" placeholder="name" name="name" required>
    <input type ="text" placeholder="email" name="email" required>
    <input type ="text" placeholder="URL" name="image" required>
    <input style="width: 100px;"  id = "sub" type="submit" value="Create User" >
     </form>
</body>
</html>